extends index

block title
  title psi hackers - The Gold Star

block content
  .d-flex.flex-column
    h1.border-bottom.mb-3.text-center The Gold Star
    img.text-center.w-50.align-self-center.mb-3(src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages04.military.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Ffull%2Fpublic%2Fspousebuzz-thumbnails%2F2011%2F03%2Ftaketwojpg.jpg&f=1&nofb=1&ipt=3f03890e72680d63c0bae328032bc62dc584903fd06ff4003f73e7d655e4cf6a&ipo=images")
    a.text-center.text-warning.text-decoration-none(href="/secrets")
      small secrets