extends index

block content
  form(action="/session" method="POST")
    .mb-3
      label.form-label.lead(for="username") Username:
      input.form-control(type="input" id="username" name="username")
    .mb-3
      label.form-label.lead(for="password") Password:
      input.form-control(type="password" id="password" name="password")
    button.btn.btn-primary(type="submit") Login