extends index

block title
  title psi hackers - Login

block content
  if errors.length
      ul.alert.alert-danger
        each error in errors
          li.ms-2 #{error}
  form(action="/session" method="POST")
    .mb-3
      label.form-label.lead(for="username") Username:
      input.form-control(type="input" id="username" name="username")
    .mb-3
      label.form-label.lead(for="password") Password:
      input.form-control(type="password" id="password" name="password")
    button.btn.btn-primary(type="submit") Login
  p.mt-3 Don't have any account? 
    a(href="/register") Register now.