extends index

block content
  if errors
    ul
      each error in errors
        li #{error.msg}
  form(method="post" action="/register")
    .mb-3
      label.form-label.lead(for="name") Full name:
      input.form-control(type="text" id="name" name="full_name" value=inputs ? inputs.full_name : "")
    .mb-3
      label.form-label.lead(for="username") Username:
      input.form-control(type="text" id="username" name="username" value=inputs ? inputs.username : "")
    .mb-3
      label.form-label.lead(for="password") Password:
      input.form-control(type="password" id="password" name="password" value="")
    .mb-3
      label.form-label.lead(for="confirm_password") Confirm Password:
      input.form-control(type="password" id="confirm_password" name="confirm_password" value="")
    .mb-3.form-check
      input.form-check-input(type="checkbox" id="is_admin" name="is_admin" disabled)
      label.form-check-label(for="is_admin") Are you an admin?
    button.btn.btn-primary(type="submit") Register
    p.mt-3 Have an account already? 
      a(href="/login") Login here.
